DATABASE_URL=
NEXT_PUBLIC_BETTER_AUTH_URL=
NEXT_PUBLIC_BACKEND_URL=
NEXT_PUBLIC_DASHBOARD_API_URL=
BETTER_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

EMAIL_USER=
EMAIL_PASS=

CB_USER=
CB_PASSWORD=
BUCKET_NAME=
SCOPE_NAME=
COLLECTION_NAME=
CB_CONNECT_STRING=

POLAR_ENVIRONMENT=
POLAR_ACCESS_TOKEN=
POLAR_WEBHOOK_SECRET=
POLAR_CREDITS_10_PRODUCT_ID=
POLAR_CREDITS_50_PRODUCT_ID=
POLAR_CREDITS_100_PRODUCT_ID=
